*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.v-btn:not(.v-btn--round).v-size--default {
    height: 40px;
    min-width: 64px;
    padding: 0 16px;
}

.v-main__wrap{
    padding: 2%;
}

.v-card > *:last-child:not(.v-btn):not(.v-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    justify-content: space-around;
}

.v-card__actions > .v-btn.v-btn {
    padding: 0 0px !important;
    font-size: 14px;
}

.v-btn:not(.v-btn--round).v-size--default {
    height: 38px;
    min-width: 64px;
    padding: 0 0px !important;
}

.v-btn.v-size--default {
    font-size: 14px;
}

#titulo {
    background-color: #13755E;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
    border-bottom: inset;
    
  }
  .corpo {
    background-color: #113C32;
  }



  .v-data-table__wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 4px 7px 22px 0px;
    border-radius: 5px;
}

.v-data-table__wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0px 0px 0px;
}

.saibaMais {
    height: 36px;
    min-width: 64px;
    width: 120px;
}


